interface {
    aggregate-ethernet {
        ae-1 {
            members {
                ge-1
                ge-2
                ge-3
            }
        }
    }
    gigabit-ethernet {
        ge-1 {
            speed: 100G
        }
        ge-2 {
            speed: 400G
        }
        ge-3 {
            speed: 400G
        }
    }
}
platform {
    port {
        ge-1 {
            breakout-mode: 4x100G
        }
        ge-2 {
            breakout-mode: none
        }
        ge-3 {
            breakout-mode: none
        }
    }
}
vlan {
    vlan-1 {
        id: 1
        native {
            members {
                ge-1
                ge-2
                ge-3
            }
        }
    }
}