interface {
    aggregate-ethernet {
        ae-1 {
            members {
                ge-1
                ge-2
                ge-3
            }
        }
    }
    gigabit-ethernet {
        ge-1 {
            speed: 100G
        }
        ge-2 {
            speed: 400G
        }
        ge-3 {
            speed: 400G
        }
    }
}